*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
main{
    display: flex;
    box-shadow: 10px 10px 20px grey;
    height: 45rem;

}
main > * {
    flex-basis: 100%;
}
.page1{
background-color: #fff;
text-align: center;
}
.page2{
background-color: beige ;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: #ff8a2b;
}
.page-head{
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 40px;

}
.icon{
    margin-bottom: 40px;
}
.fa-brands{
    font-weight: 400;
    border: 1px solid black;
    padding: 15px;
    font-size: 30px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0px 5px;
}
input{
    width: 80%;
    padding: 10px;
    font-size: 1rem;
    background-color: #eeeeee;
    border: none;
    margin-bottom: 20px;
    margin-top: 10px;
}
form a{
    display: block;
    margin-top: 30px;
    text-decoration: none;
    font-size: 1.2rem;
}
.sub{
    width: 20%;
    background-color: #FF4B2B;
    color: white;
    border-radius: 22px;
    cursor: pointer;
    transition: 0.3s;
}
.sub:hover{
    transform:scale(1.1);
}
.page2 p{
    color: white;
    font-size: 1.5rem;
}
.page2 h1{
    color: white;
    font-size: 4rem;
    font-weight: 900;
}
.page{
    padding: 9rem;
}
.main-page{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.page-p{
    padding: 9rem;
}